*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
#contenedor{
    width: 95%;
    height: auto;
    max-width: 1260px;
    margin: 5px auto 5px auto;
    position: relative;
    overflow: hidden;
}
.subcontenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234);
}
/*=====ESTILO LOGO ======*/
.logo{
    width: 15%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 1em;
}
.logo img{
    width: 100%;
    text-align: center;
}
/*===== ESTILO FORMULARIO 'BUSCAR' =====*/
.formu-smart{
    width: 35%;
    margin: auto;
    overflow: hidden;
}
form{
    width: 100%;
    height: auto;
    margin: auto;
    border:1px solid #e6e4e1;
    border-radius:5px;
}
#idBuscador{
    display: flex;
    overflow: hidden;
}
.search{
    width: 93.5%;
    border: 1px solid #e8f7b5;
    border-radius:5px;
}
.submit{
    width: 6.5%;
    text-align: center;
    margin: auto;
}
form input[type="search"]{
    width: 100%;
    border: 1px solid #e1dcdc;
    padding: 0.8em;
    border-radius:5px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    box-shadow: slategrey 2px 2px 9px;
}
.fa-search{
    width: 100%;
    font-size: 2.5em;
    color:white;
    background-color: #61BD0D;
}
/*===== ESTILO ICONOS REDES SOCIALES ======*/
.icons{
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: black 2px 2px 5px;
    overflow: hidden;
    background-color: white;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 5px;
}
.face{
    margin-right: 20px;
    filter: grayscale(1);
}
.instagram{
    margin-right: 20px;
    filter: grayscale(1);
}
.twitter{
    margin-right: 20px;
    filter: grayscale(1);
}
.redSocial{
    font-weight: 800;
    margin-bottom: 5px;
}
.correo{
    font-weight: 800;
}
.email{
    margin-right: 5px;
    filter: grayscale(1);
}
.carritoCompra{
    filter: grayscale(1);
}
.correo p{
    padding-bottom: 5px;
}
/*===== ESTILO DEL NAV =====*/
.nav{
    width: 100%;
    margin: 5px auto;
}    
.nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;/*quitamos las viñetas*/
    padding: 0px;
}
/*===== ESTILO MENÚ =====*/
.men i{
    display: block;
    font-size: 2.2em;
}
#darkMode i{
    display: none;
    font-size: 1.7em;
}
.men li{
    width: 100%;
    position: relative;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    background: #eeedeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #d1d0c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #e9e7dc);
    border-radius: 3px;
    padding: 2px;
}
.men li a{
    display:block;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    font-size: 0.7em;
    color: #878585;
    color: #878585;
    background: #eeedeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #d1d0c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #e9e7dc);
    text-align: center;
    text-decoration: none;/*quitamos el subrayado*/
    border: 1px solid #b3b0b0;
    border-radius: 3px;
}
/*===== USO DE HOVER EN MENÚ =====*/
.men li a:hover{
    color:#0d0e0d;
    border-radius: 3px;
    transition: all 0.5s;
    box-shadow: black 2px 2px 9px;
    font-weight: 800;
}
/*===== ESTILO SUBMENU =====*/
.submen{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: absolute;/*se posiciona el submenu en la opción y se desplaza hacia abajo*/
    visibility: hidden;/*recoge el submenu y se aloja en la opcion de menu*/
    opacity: 0;
    transition: opacity 1s;
    background-color:white;
}
.submen li{
   width: 100%;
   font-size: 0.8em;
   border: none;
}
.submen li a{
    width: 100%;
    color:black;
    border: none;
    font-size: 0.9em;
    text-align: left;
}
.submen li a:hover{
    color:#61BD0D;
    font-weight: 800;
}
/*===== USO DEL HOVER EN SUBMENÚ ======*/
.men li:hover .submen{
    visibility: visible;
    opacity: 2;
    border-radius: 4px;
    box-shadow: black 2px 2px 9px;
}
/*===== ESTILO HEADER =====*/
header{
    width: 100%;
    overflow: hidden;
}
#idIMG{
    width: 100%;
    
}
.botones{
	position: absolute;
	top:300px;
    left:450px;
}
#play, #stop{
    width: 20%;
    cursor:pointer;
    opacity: 0.3;
}
/*-----------ESTILO FORMULARIO----------------*/
.formulario{
    width: 100%;
    text-align: left;
}
.formulario select{
    width: 20%;
    font-family: 'Roboto',sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #888b8e;
    color: #6a6767;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formulario select:hover{
    color: black;
    box-shadow: #023851 2px 2px 9px;
}
/*===== ESTILO MAIN ======*/
main{
    display: flex;
    border: 1px solid #eeeef5;
 }
/*===== ESTILO SECTION ======*/
.ico-menu{
    width: 20%;
    filter: grayscale(1);
}
.ico-menu:hover{
    filter: unset;
}

section{
    width: 100%;
    margin: auto;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
section figure{
    width: 25%;
    text-align: center;
    border: 1px solid #f0ecec;
    border-radius: 5px;
    overflow: hidden;
}
section figure img{
    width: 70%;
    border: 1px solid #dad6d6;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}
section figure figcaption{
    text-align: center;
    font-size: 12px;
    font-family: Helvetica;
    margin: 5px;
    overflow: hidden;
}
#figcaptionvalor{
    color:#61BD0D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#figcaptionvalor:hover{
    color: #2b5050;
}

form input[type="submit"]{
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    background-color: #61BD0D;
    color: white;
    font-family: 800;
}
/*===== ESTILO FOOTER =====*/
footer{
    display: flex;
    margin-top: 1em; 
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234);
}
.footer1{
    width: 25%;
    padding-top: 10px;
    overflow: hidden;
}
.footer1 h1{
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    color: #000000;
}
.footer1 h2{
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-weight: 700;
}
.footer1 h3{
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    color: #904949;
}
.footer1 img{
    display: inline-block;
    margin-left: 4em;
    margin-bottom: -10px;
    padding: 5px;
    border-radius: 40%;
    filter: grayscale(1);
}
.footer1 img:hover{
    filter: unset;
    transform: scale(1.2);
}
.footer1 p{
    display: inline-block;
    font-size: 1.1em;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: white;
}
.footer1 p a{
    text-decoration: none;
    color: white;
}
.footer1 p a:hover{
    color: #000000;
    transition: all 1s;
}
.footer2{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
.footer2 h2{
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    color: #000000;
}
.footer2 ul{
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.footer2 ul li a{
    text-decoration: none;
    color: white;
}
.footer2 ul li a:hover{
    color: rgb(221, 221, 32);
    transition: all 0.5s;
}
.footer2 span{
    color: white;
    font-weight: 700; 
    font-size: 0.7em;
    font-family: 'Roboto',sans-serif;
    margin-left: 21em;
}
.footer3{
    width: 25%;
    padding-top: 10px;
}
.footer3 h2{
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    color: #000000;
}
.footer3 h3{
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.footer3 img{
    display: flex;
    width: 50%;
    margin-top: 20px;
    box-shadow: black 2px 2px 8px;
}