*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
#contenedor{
    width: 95%;
    height: auto;
    max-width: 1260px;
    margin: 5px auto 5px auto;
}
.subcontenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234);    
}
/*=====ESTILO LOGO ======*/
.logo{
    width: 15%;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 1em;
}
.logo img{
    width: 90%;
    text-align: center;
}
/*===== ESTILO FORMULARIO 'BUSCAR' =====*/
.formulario{
    width: 35%;
    margin: auto;
    overflow: hidden;
}
form{
    width: 100%;
    height: auto;
    margin: auto;
    border:1px solid #e6e4e1;
    border-radius:5px;
}
#idBuscador{
    display: flex;
    overflow: hidden;
}
.search{
    width: 93.5%;
    border: 1px solid #e8f7b5;
    border-radius:5px;
}
.submit{
    width: 6.5%;
    text-align: center;
    margin: auto;
}
form input[type="search"]{
    width: 100%;
    border: 1px solid #e1dcdc;
    padding: 0.8em;
    border-radius:5px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    box-shadow: slategrey 2px 2px 9px;
}
.fa-search{
    width: 100%;
    font-size: 2.5em;
    color:white;
    background-color: #61BD0D;
}
/*===== ESTILO ICONOS REDES SOCIALES ======*/
.icons{
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 5px;
}
.face{
    margin-right: 20px;
    filter: grayscale(1);
}
.instagram{
    margin-right: 20px;
    filter: grayscale(1);
}
.twitter{
    margin-right: 20px;
    filter: grayscale(1);
}
.redSocial{
    font-weight: 800;
    margin-bottom: 5px;
}
.correo{
    font-weight: 800;
 
}
.email{
    margin-right: 5px;
    filter: grayscale(1);
}
.carritoCompra{
    filter: grayscale(1);
}
.correo p{
    padding-bottom: 5px;
}
/*===== ESTILO DEL NAV =====*/
.nav{
    width: 100%;
    margin: 5px auto;
}    
.nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;/*quitamos las viñetas*/
    padding: 0px;
}
/*===== ESTILO MENÚ =====*/
.men i{
    display: block;
    font-size: 2.2em;
}
.ico-menu{
    width: 20%;
    filter: grayscale(1);
}
.ico-menu:hover{
    filter: unset;
}
#darkMode i{
    display: none;
    font-size: 1.7em;
}
.men li{
    width: 100%;
    position: relative;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    background: #eeedeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #d1d0c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #e9e7dc);
    border-radius: 3px;
    padding: 2px;
}
.men li a{
    display:block;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    font-size: 0.7em;
    color: #878585;
    background: #eeedeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #d1d0c9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #e9e7dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    text-decoration: none;/*quitamos el subrayado*/
    border: 1px solid #b3b0b0;
    border-radius: 3px;
}
/*===== USO DE HOVER EN MENÚ =====*/
.men li a:hover{
    color:#0d0e0d;
    border-radius: 3px;
    transition: all 0.5s;
    box-shadow: black 2px 2px 9px;
    font-weight: 800;
}
/*===== ESTILO SUBMENU =====*/
.submen{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: absolute;/*se posiciona el submenu en la opción y se desplaza hacia abajo*/
    visibility: hidden;/*recoge el submenu y se aloja en la opcion de menu*/
    opacity: 0;
    transition: opacity 1s;
    background-color:white;
}
.submen li{
   width: 100%;
   font-size: 0.8em;
   border: none;
}
.submen li a{
    width: 100%;
    color:black;
    border: none;
    font-size: 0.9em;
    text-align: left;
}
.submen li a:hover{
    color:#61BD0D;
    font-weight: 800;
}
/*===== USO DEL HOVER EN SUBMENÚ ======*/
.men li:hover .submen{
    visibility: visible;
    opacity: 2;
    border-radius: 4px;
    box-shadow: black 2px 2px 9px;
}
/*===== ESTILO HEADER =====*/
header{
    width: 100%;
    overflow: hidden;
}
#idIMG{
    width: 100%;
    
}
header .botones{
    width: 100%;
    margin-top: -15.6em;
    margin-left: 24em;
}
/*.botones{
	/*position: absolute;
	top:18em;
    left:28em;
}*/
#play, #stop{
    width: 20%;
    cursor:pointer;
	opacity: 0.3;
}
/*===== ESTILO MAIN ======*/
main{
    display: flex;
    border: 1px solid #eeeef5;
    background-image: url(../img/fondobody2.jpg);
}
/*===== ESTILO SECTION =====*/
section{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    border-radius:3px;
}
/*===== ESTILO DE FORMULARIO-SECTION =========*/
.form-container{
    width: 30%;
    border: 0.2px solid #acacae;
    text-shadow: black 0px 0px 20px;
    padding: 5px;
}
.titulo{
    width: 80%;
    margin: 5px auto 5px auto;
    text-align: center;
    font-size: 1.2em;
    color:#5B826A;
    font-weight: 700;
}
.capsula{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.input-capsula{
    width: 80%;
    margin: auto;
    text-shadow: black 0px 0px 20px;
    overflow: hidden;
    padding: 10px;
}
.input-capsula span{
    font-size: 0.9em;
}
.registro{
    width: 50%;
    margin: auto;
}
#btnRegistrar{
    width: 100%;
    margin: auto;
    border-radius: 3px;
    padding: 10px;
}
form input[type="button"]{
    background-color: #4081f0;
    border-radius: 3px;
    font-size: 1em;
    color: white;
}
form input[type="text"],input[type="email"],input[type="password"]{
    width: 100%;
    border: 1px solid #99d7e1;
    background:#E8F0FE;
    border-radius: 2px;
    padding: 10px;
}
.parrafo{
    width: 80%;
    color: #030303;
    text-align: justify;
    margin: 10px auto;
    font-size: 0.8em;
}
.mensajeFormulario{
    width: 80%;
    margin: auto;
    color: #b84631;
    font-size: 0.7em;
    font-weight: 700;
}
.ico{
    width: 10%;
    float: left;
    filter: grayscale(1);
    margin: 2px;
}
.salir{
    color: #6e716e;
    font-size: 1.2em;
    font-weight: 800;
}
.salir:hover{
    color: sienna;
}
/*===== ESTILO FOOTER =====*/
footer{
    display: flex;
    margin-top: 1em; 
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234);
}
.footer1{
    width: 25%;
    padding-top: 10px;
    overflow: hidden;
}
.footer1 h1{
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    color:#bdc3c7;
}
.footer1 h2{
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-weight: 700;
}
.footer1 h3{
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    color: #904949;
}
.footer1 img{
    display: inline-block;
    margin-left: 4em;
    margin-bottom: -10px;
    padding: 5px;
    border-radius: 40%;
    filter: grayscale(1);
}
.footer1 img:hover{
    filter: unset;
    transform: scale(1.2);
}
.footer1 p{
    display: inline-block;
    font-size: 1.1em;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: white;
}
.footer1 p a{
    text-decoration: none;
    color: white;
}
.footer1 p a:hover{
    color: #000000;
    transition: all 1s;
}
.footer2{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
.footer2 h2{
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    color: #000000;
}
.footer2 ul{
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.footer2 ul li a{
    text-decoration: none;
    color: white;
}
.footer2 ul li a:hover{
    color: rgb(221, 221, 32);
    transition: all 0.5s;
}
.footer2 span{
    color: white;
    font-weight: 700; 
    font-size: 0.7em;
    font-family: 'Roboto',sans-serif;
    margin-left: 21em;
}
.footer3{
    width: 25%;
    padding-top: 10px;
}
.footer3 h2{
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    color: #000000;
}
.footer3 h3{
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto',sans-serif;
    color: white;
}
.footer3 img{
    display: flex;
    width: 50%;
    margin-top: 20px;
    box-shadow: black 2px 2px 8px;
}
/*======================================== 
         PROGRAMACIÓN RESPONSIVE 
==========================================*/

/*========================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)
==========================================*/
@media(min-width:1200px){
    

}

/*========================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md)
==========================================*/
@media(max-width:1199px) and (min-width:992px){
    #contenedor{
        width: 95%;
        margin: 5px auto;
    }
    /*============================
           ESTILO SUBCONTENEDOR
    ==============================*/
    .logo{
        margin-left: 10px;
        margin-top: 5px;
    }
    .logo img{
        width: 100%;
        height: auto;
    }
    .for-header{
        width: 50%;
    }
    form input[type="search"]{
        width: 100%;
        border: 1px solid #e1dcdc;
        padding: 0.5em;
        border-radius:5px;
        font-weight: 700;
        font-family: 'Roboto',sans-serif;
        box-shadow: slategrey 2px 2px 9px;
    }
    .search{
        width: 89%;
        border: 1px solid #e8f7b5;
        border-radius:5px;
    }
     .fa-search{
        width: 100%;
        font-size: 2.2em;
        color:white;
        background: -webkit-linear-gradient(top,#61BD0D, #3b6e09);
    }
    /*=========================================
                   ESTILO MAIN
    ===========================================*/
    main{
        display: flex;
    }
    /*=========================================
                   ESTILO SECTION
    ===========================================*/
    section{
        width: 100%;
    }
    /*======================
      ESTILO FORMULARIO
    ========================*/
    .form-container{
        width: 40%;
    }
    /*=========================================
                   ESTILO FOOTER
    ===========================================*/
    .copy span{
        margin: 0px 0px 20px 180px;
        font-size: 0.8em;
        padding: 5px;
        color: #dddbdb;
    }
}
/*========================================
PANTALLA DE TABLET - SMALL (sm)
==========================================*/
@media(max-width:991px) and (min-width:768px){
    #contenedor{
        width: 95%;
        margin: 5px auto;
        padding: 5px;
    }
    .logo{
        width: 25%;
    }
    .logo img{
        width: 90%;
        height: auto;
    }
    .formulario{
        width: 50%;
    }
    form input[type="search"]{
        width: 100%;
        padding: 0.8em;
        border-radius:2px;
        font-weight: 700;
        font-family: 'Roboto',sans-serif;
        font-size: 0.7em;
    }
    form{
        width: 100%;
        height: auto;
        margin: auto;
        border-radius:2px;
        border: 1px solid #a9acaa;
    }
    .search{
        width: 82%;
        border: radius 2px;
    }
    .icons{
        width: 30%;
        font-size: 80%;
    }
    /*======================
           ESTILO MENÚ
    ========================*/
    .men li a{
        font-size: 50%;
    }
    .submen li a{
        font-size: 50%;
    }
    /*======================
      ESTILO MAIN
    ========================*/
    main{
        display: flex;
    }
    /*======================
      ESTILO SECTION
    ========================*/
    section{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    /*======================
      ESTILO FORMULARIO
    ========================*/
    .form-container{
        width: 50%;
        font-size: 80%;
    }
    /*======================
        ESTILO FOOTER
    ========================*/
    #pieFooter{
    font-size: 75%;
    }
    .copy span{
    margin-left: 140px;
    }
}
/*===============================================
        PANTALLA DE PHONES - EXTRA SMALL (xs)
=================================================*/
@media(max-width:767px){
    #contenedor{
        width: 95%;
        margin: 5px auto;
    }
    /*===========================================
       ESTILO SUBCONTENEDOR(LOGO-SEARCH-TARJETA)
    =============================================*/
    .subcontenedor{
        display: flex;
        width: 100%;
        border: 1px solid #dcd8d8;
        overflow: hidden;
        background: -webkit-linear-gradient(top,#61BD0D, #3b6e09);
    }
    .logo{
        width: 50%;
        height: 50px;
        margin-left: 15px;
    }
    .logo img{
        width: 70%;
        height: auto;
        margin:-10px 0px 0px -60px;
    }    
    .formulario{
        width: 50%;
        margin: 50px 0px 2px -155px;
    }
    .icons{
        width: 65%;
        box-shadow: none;
        font-size: 80%;
    }
    #idBuscador{
        overflow: hidden;
    }
    .search{
        width: 85%;
        border: radius 2px;
    }
    form input[type="search"]{
        width: 100%;
        padding: 0.6em;
        border-radius:2px;
        font-size: 0.6em;
    }
    .fa-search{
        width: 120%;
        font-size: 1.2em;
        color:white;
        background: -webkit-linear-gradient(top,#61BD0D, #3b6e09);
    }
    .redSocial{
        font-size: 0.7em;
    }
    .correo{
        font-size: 0.7em;
    }
    .emailInforme{
        font-size: 0.5em;
    }
    .face{
        width: 12%;
        filter: grayscale(1);
    }
    .instagram{
        width: 12%;
        filter: grayscale(1);
    }
    .twitter{
        width: 12%;
        
        filter: grayscale(1);
    }
    .carritoCompra{
        width: 12%;
        filter: grayscale(1);
    }
    .sociales{
        width: 100%;
    }
     /*========================================== 
             ESTILO MENÚ - SUBMENÚ 
    ============================================*/
    #navegador{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .nav{
        width: 100%;
        margin: auto;
    }    
    .nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;/*quitamos las viñetas*/
        padding: 0px;
    }
    .men li{
        width: 100%;
        position: relative;
        display: inline-block;
        font-size: 1em;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        background-color: #c2bcbc;
        border-radius: 3px;
        border: 1px solid #bbe3e9;
        margin: 2px 0px 2px 0px;
    }
    .men li a{
        display:block;
        width: 100%;
        height: 10%;
        color: #878585;
        background-color:white;
        text-align: center;
        text-decoration: none;/*quitamos el subrayado*/
        border: 1px solid #e7e4e4;
        border-radius: 5px;
    }
    .ico-menu{
        width: 8%;
    }
    .men li a:hover{
        color:#0e0d0d;
        border-radius: 3px;
        transition: all 0.5s;
        box-shadow: black 2px 2px 9px;
    }
    .submen{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        position: absolute;/*se posiciona el submenu en la opción y se desplaza hacia abajo*/
        visibility: hidden;/*recoge el submenu y se aloja en la opcion de menu*/
        opacity: 0;
        transition: opacity 1s;
        background-color:white;
    }
    .submen li{
       width: 100%; 
       font-size: 0.8em;
       border: none;
    }
    .submen li a{
        width: 100%;
        color:black;
        border: none;
        font-size: 0.9em;
        text-align: left; 
    }
    .submen li a:hover{
        color:#61BD0D;
        font-weight: bold;
        border-radius: 3px;
        margin-left: 0.5em;
    }
    .men li:hover .submen{
        visibility: visible;
        opacity: 2;
        border-radius: 4px;
        box-shadow: black 2px 2px 9px;
    }
    /*========================================== 
                    ESTILO MAIN 
    ============================================*/
    main{
        display: flex;
        margin-top: 10px;
    }
    /*=========================================
                   ESTILO SECTION
    ===========================================*/
    section{
        width: 100%;
    } 
    /*=========================================
                   ESTILO FORMULARIO
    ===========================================*/
    .form-container{
        width: 70%;
        font-size: 80%;
    }
    /*========================================== 
                ESTILO FOOTER 
    ============================================*/
    #pieFooter{
      width: 100%;
      overflow: hidden;
      margin: auto;
      padding: 5px;
      position: relative;
    }
    .redSocialFooter{
        margin-top: -35px;
        padding-bottom: 5px;
    }
    .footer1{
        width: 25%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .footer1 h1{
        font-size: 0.4em;
        text-transform: lowercase;
    }
    .footer1 h2{
        margin: 0px;
        font-size: 0.5em;
    }
    .footer1 h3{
        margin: 0px;
        font-size: 0.4em;
    }
    .footer1 p{
        width: 100px;
        font-size: 8px;
        padding-bottom: 5px;
        margin-left: 50px;
    }
    .footer1 img{
        width: 25px;
        border-radius: 0px;
        margin-left: -50px;
    }
    .footer2{
        width: 50%;
        padding: 0px;
        margin: auto;
    }
    .footer2 h2{
        margin: 0px;
        font-size: 0.7em;
    }
    .footer2 ul{
        width: 100%;
        font-size: 0.5em;
        padding: 5px;
        margin-top: -5px;
    }
    .footer2 ul li{
        display:block;
        text-align: left;
    }
    .footer2 ul li a{
        width: 100%;
    }
    .footer2 .copy{
        width: 100%;
        text-align: center;
        margin-top: -20px;
    }
    .copy span{
        margin: auto;
        font-size: 0.5em;
        padding: 5px;
        color: #dddbdb;
    }
    .footer3{
        width: 25%;
   }
    .footer3 h2{
        font-size: 0.6em;
    }
    .footer3 h3{
        font-size: 0.4em;
    }
    .footer3 a img{
        width: 90%;
        border-radius:4px;
        margin-bottom: 10px;
    }

}



